<blockquote class="padsing" style="text-decoration: none;">
  <p class="auto">{{ .Get "author" | markdownify}}, <a style="font-style:italic">{{ .Get "title" }}</a>, 
  <a style="font-weight: bold;">{{ .Get "pub" }}</a>, 
  {{ if (.Get "year") }}
    ({{ .Get "year" }}), 
  {{ end }}
  {{ if ( .Get "data") }}
    {{ .Get "data"}},
  {{ end }}
  {{ if (.Get "volume") }}
    Volume {{ .Get "volume" }},
  {{ end }}
  {{ if (.Get "number") }}
    Issue {{ .Get "number" }},
  {{ end }}
  {{ if (.Get "pages") }}
    Pages {{ .Get "pages" }}.
  {{end}}
    {{if (.Get "online")}}
  Published Online.
  {{ end }}
  <br>
    doi: {{ .Get "doi" }}
    <div style="float: right;">
      <a class="badge-link" href="{{ .Get "ref" }}"> Link</a>
      {{if ( .Get "bib")}}
      &nbsp;
      <a class="badge-bib" href="{{ .Get "bib" }}">BIB</a>
      {{end}}
    </div> 
  </p>
</blockquote>
